
*.m~
*.m~
*.el
*.m#
*.m#
ModFrmGL2/ModSym/.#modsym.m
ModFrmGL2/ModSym/modsym.m~
*.m~
ModFrmGL2/genus6_Q.txt~
.DS_Store
data/.DS_Store
data/modular curves/.DS_Store
*.spec~
ModFrmGL2/11A6_shim.m
ModFrmGL2/22C6_shim.m
