[submodule "ModularCurvesData"]
	path = ModularCurvesData
	url = https://github.com/assaferan/ModularCurvesData
	branch = main
[submodule "ModFrmGL2/GrpGL2Hat"]
	path = ModFrmGL2/GrpGL2Hat
	url = https://github.com/assaferan/GrpGL2Hat
	branch = main
[submodule "ModFrmGL2/ModSymA"]
	path = ModFrmGL2/ModSymA
	url = https://github.com/assaferan/ModSymA
	branch = main
[submodule "ModFrmGL2/ModFrmA"]
	path = ModFrmGL2/ModFrmA
	url = https://github.com/assaferan/ModFrmA
	branch = main
[submodule "ModFrmGL2/Magma"]
	path = ModFrmGL2/Magma
	url = https://github.com/AndrewVSutherland/Magma
	branch = main
