
*.m~
*.m~
*.el
*.m#
*.m#
ModFrmGL2/ModSym/.#modsym.m
ModFrmGL2/ModSym/modsym.m~
*.m~
ModFrmGL2/genus6_Q.txt~
.DS_Store
data/.DS_Store
data/modular curves/.DS_Store
*.spec~
ModFrmGL2/11A6_shim.m
ModFrmGL2/22C6_shim.m
ModFrmGL2/31A6_shim.m
ModFrmGL2/31B6_shim.m
ModFrmGL2/58A6_shim.m
ModFrmGL2/ModSym/.#qexpansion.m
ModFrmGL2/108F10_shim.m
ModFrmGL2/121A6_shim.m
ModFrmGL2/127A10_shim.m
ModFrmGL2/14B6.m
ModFrmGL2/18E10_shim.m
ModFrmGL2/18M10_shim.m
ModFrmGL2/26D10_shim.m
ModFrmGL2/27B10_shim.m
ModFrmGL2/28D10_shim.m
ModFrmGL2/35C15_shim.m
ModFrmGL2/36Q10_shim.m
ModFrmGL2/37A10_shim.m
ModFrmGL2/38A10_shim.m
ModFrmGL2/46A10_shim.m
ModFrmGL2/54A10_shim.m
ModFrmGL2/54I10_shim.m
ModFrmGL2/71A6_shim.m
ModFrmGL2/79A6_shim.m
ModFrmGL2/81A10_shim.m
ModFrmGL2/86A10_shim.m
ModFrmGL2/92A10_shim.m
ModFrmGL2/9A10_shim.m
*.dat#
*.dat~
*.sig
data/modular curves/Genus 10/108F10_shim.m
data/modular curves/Genus 10/127A10_shim.m
data/modular curves/Genus 10/18E10_shim.m
data/modular curves/Genus 10/18M10_shim.m
data/modular curves/Genus 10/26D10_shim.m
data/modular curves/Genus 10/27B10_shim.m
data/modular curves/Genus 10/28D10_shim.m
data/modular curves/Genus 10/36Q10_shim.m
data/modular curves/Genus 10/37A10_shim.m
data/modular curves/Genus 10/38A10_shim.m
data/modular curves/Genus 10/46A10_shim.m
data/modular curves/Genus 10/54A10_shim.m
data/modular curves/Genus 10/54I10_shim.m
data/modular curves/Genus 10/81A10_shim.m
data/modular curves/Genus 10/86A10_shim.m
data/modular curves/Genus 10/92A10_shim.m
data/modular curves/Genus 10/9A10_shim.m
data/modular curves/Genus 6/11A6.m
data/modular curves/Genus 6/11A6_old.m
data/modular curves/Genus 6/11A6_shim.m
data/modular curves/Genus 6/121A6_shim.m
data/modular curves/Genus 6/14B6.m
data/modular curves/Genus 6/14B6_old.m
data/modular curves/Genus 6/18A6.m
data/modular curves/Genus 6/18B6.m
data/modular curves/Genus 6/18C6.m
data/modular curves/Genus 6/20C6.m
data/modular curves/Genus 6/21B6.m
data/modular curves/Genus 6/21C6.m
data/modular curves/Genus 6/22A6.m
data/modular curves/Genus 6/22B6.m
data/modular curves/Genus 6/22C6_shim.m
data/modular curves/Genus 6/31A6_shim.m
data/modular curves/Genus 6/31B6_shim.m
data/modular curves/Genus 6/35E6.m
data/modular curves/Genus 6/58A6_shim.m
data/modular curves/Genus 6/71A6_shim.m
data/modular curves/Genus 6/79A6_shim.m
